extends layout

block content
      main.main-content
        .fullwidth-block.inner-content
          .container
            .row
              .content
                  h2.page-title About us
                  figure.featured-image
                    img(src='images/sustainable_development_7.jpg', alt='post image')
                  p.leading
                    | The #{companyFull} (#{company}) was founded in Jos, Plateau on 4th December, 2007 as the brain child of #{founder}. #{founder} started #{company} in order make it easier to carry out training, research and community service on sustainable environmental resources development. #{founder} had been a geology professor and was especially disappointed with the progress of the country in handling and preventing geo-hydrological hazards, earthquakes, landslides, erosion, drought, desertficationa and flooding.
                  p
                    | #{company} is located at #{addrOne} in #{addrTwo}. #{company} has been years in the making and we have finally put it out there. We are ready to make a bog splash in the music industry and will readily take any talented artists that want to go with us on our epic journey.
                  p
                    | The Board of Trustees of #{company} are #{founder}, Dr. Aako Ugbabe, Mrs. Eunice Ngozi Ogezi, Engr. Oja Francis Ogezi, Dr. Enoche Florence Oga.
                  p
                    | #{company} was started to make the world and more safe and condusive place to live in. We intend to fully pursue that goal.
