.row
  .col-sm-6
    strong #{company}
    br
    span #{addrOne}
    br
    span #{addrTwo}
  .col-sm-6
    a(href='mailto:' + email) Email: #{email}
    br
    a(href='tel:' + phoneHref) Tel: #{phone}
    br
    a(href='fax:' + faxHref) Fax: #{fax}
