extends layout

block content
      main.main-content
        .fullwidth-block.download
          .container
            .row
              .col-md-5
                h2.page-title Publications
                .item
                  h3.item-title Basic Principles for Sustainable Development | Tufts University
                  center
                  span.year 2016
                  a.button.small.primary(href='ase.tufts.edu/gdae/publications/working_papers/Sustainable%20Development.pdf') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title A Framework for Sustainable Development
                  span.year 2017
                  a.button.small.primary(href='www.housing.gov.ie/en/Publications/Environment/.../FileDownLoad,30452,en.pdf') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Managing the Linkages for Sustainable Development | WHO
                  span.year 2016
                  a.button.small.primary(href='whqlibdoc.who.int/publications/2008/9789241563727_eng.pdf') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Communicating Sustainability
                  span.year 2016
                  a.button.small.primary(href='www.unep.fr/shared/publications/pdf/DTIx0679xPA-CommunicatingEN.pdf') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
              .col-md-5.col-md-push-2
                h2.page-title Papers
                .item
                  h3.item-title Energy Indicators for Sustainable Development | IAEA Publications
                  span.year 2016
                  a.button.small.primary(href='www-pub.iaea.org/MTCD/publications/PDF/Pub1222_web.pdf') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title What is Sustainable Development? | Harvard Kennedy School
                  span.year 2017
                  br
                  a.button.small.primary(href='https://www.hks.harvard.edu/sustsci/ists/docs/whatisSD_env_kates_0504.pdf') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Principles of Sustainable Development | L.K. Caldwell
                  span.year 2016
                  br
                  a.button.small.primary(href='www.eolss.net/sample-chapters/c13/e1-46a.pdf') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Sustainable Development: Definitions, Principles, Policies | HE Daily
                  span.year 2017
                  br
                  a.button.small.primary(href='www.vedegylet.hu/fejkrit/szvggyujt/Daly_World_Bank.pdf') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
